<p style="color: green"><%= notice %></p>

<% content_for :title, "Beer clubs" %>

<h1>Beer clubs</h1>

<ul id="beer_clubs">
  <% @beer_clubs.each do |beer_club| %>
    <li> <%= render beer_club %> </li>
  <% end %>
</ul>

<%= link_to "New beer club", new_beer_club_path %>
