<h2>
  There
  <% if @ratings.empty? %>
    are no ratings, yet...
  <% else %>
    <%= @ratings.count == 1 ? "is" : "are" %>
    <%= pluralize(@ratings.count, "rating") %>:
  <% end %>
</h2>

<ul>
  <% @ratings.each do |rating| %>
    <li>
      <%= render rating %>
    </li>
  <% end %>
</ul>

<%= link_to "New rating", new_rating_path %>
